useDynLib(GMCMH2)
export(iDist)
export(spLM)
export(mkSpCov)
export(spRecover)
export(spPredict)
export(mkMvX)
export(spMvLM)
export(spDiag)
export(spMvGLM)
export(spGLM)
export(bayesLMRef)
export(adaptMetropGibbs)
export(pointsInPoly)
export(spDynLM)
export(spDynLMmod)
export(spDynLMmodgone)
export(spDynLMmodgtwo)
export(bayesGeostatExact)
export(bayesLMConjugate)
export(spMisalignLM)
export(spMisalignGLM)

